@page "/items/add"
@using POS_Web.Components.Shared

<div class="container">
    <div class="vstack gap-3">
        <h3>Add Item</h3>
        <div style="width: 20em;">
            <ItemCategory ItemCategorySaved="@LoadItemCategories"></ItemCategory>
        </div>
        <EditForm Model="ItemModel" class="needs-validation" OnValidSubmit="@OnValidFormSubmit">
            <DataAnnotationsValidator />
            <div class="vstack gap-3">
                <div>
                    <label class="w-100">
                        Name
                        <InputText class="form-control" @bind-Value="ItemModel.Name" />
                        <ValidationMessage For="@(() => ItemModel.Name)" />
                    </label>
                </div>
                <div>
                    <label class="w-100">Description
                        <InputTextArea class="form-control text-wrap" @bind-Value="ItemModel.Description" />
                        <ValidationMessage For="@(() => ItemModel.Description)" />
                    </label>
                </div>
                <div>
                    <label class="w-100">
                        Price:
                        <CurrencyInput TValue="decimal" @bind-Value="ItemModel.Price" Locale="en-PH"
                            Placeholder="Enter amount" />
                        <ValidationMessage For="@(() => ItemModel.Price)" />
                    </label>
                </div>
                <div>

                    <label class="w-100">
                        Category:
                        @if (IsLoading)
                        {
                            <div>
                                <PlaceholderContainer Animation="PlaceholderAnimation.Glow">
                                    <Placeholder Width="PlaceholderWidth.Col7" />
                                </PlaceholderContainer>
                            </div>
                        }
                        else
                        {
                            <InputSelect class="form-select" aria-label="Select status"
                                @bind-Value="ItemModel.ItemCategoryId">
                                <option value="" selected disabled hidden>Select Status</option>
                                @foreach (CommonLibrary.Model.Item.ItemCategory itemCategory in ItemCategoryList!)
                                {
                                    <option value="@itemCategory.ItemCategoryId">@itemCategory.Name</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => ItemModel.ItemCategoryId)" />
                        }
                    </label>
                </div>
                @if (!IsLoading)
                {
                    <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" Loading="IsSaving" Disabled="IsSaving"
                        LoadingText="Saving...">Add</Button>
                }
            </div>
        </EditForm>
    </div>
</div>